* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#root {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(1, 30, 36, 0.8));
  background-repeat: no-repeat;
  height: 100vh;
}
.home-container {
  object-fit: contain;
  color: #ff5155;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.keyboard-image {
  width: 234px;
  object-fit: contain;
  opacity: 0.64;
}

.home-title {
  margin: 0;
  font-family: "Syne Mono", monospace;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  margin-top: 10px;
}

.home-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.home-line {
  margin-top: 12px;
  width: 80px;
  height: 1px;
  border-width: 0;
  color: #ff5155;
  background-color: #ff5155;
}

.home-description-text {
  font-family: "Syne Mono", monospace;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  text-align: center;
}

.text-input {
  margin-top: 50px;
  padding: 15px;
  background-color: #b8b8b8;
  color: #032228;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
}
.home-error {
  width: 100%;
  height: 25px;
  padding: 5px;
}
.home-selection {
  background-color: transparent;
  width: 100%;
  margin: 25px 0 0;
  padding: 15px;
  border-radius: 8px;
  color: #b8b8b8;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #b8b8b8;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.home-selection select {
  opacity: 0.59;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #97a5a7;
  border-radius: 15px;
  position: relative;
  font-size: 20px;
}

.start-button {
  background: transparent url(./assets/play.png) no-repeat 0;
  width: 75%;
  min-height: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  border: none;
  outline: none;
  /* border-radius: 8px;
  width: 350px;
  margin: 0 0 0 5px; */
  margin-top: 30px;
  /* text-shadow: 0 0 16px rgba(0, 0, 0, 0.16); */
  font-family: Arial;
  font-size: 24px;
  /* font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left; */
  color: #ff5155;
  /* cursor: pointer; */
}
.button-image {
  width: 35px;
  height: 40px;
  margin: 2px 10px 2px 0;
  object-fit: contain;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
}

.header-info {
  display: flex;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}
.game-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.game-player-info {
  margin: 5px;
  display: flex;
  align-items: center;
}

.player-name-game-level {
  font-family: Breamcatcher;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  padding: 7px;
  text-transform: uppercase;
}
.game-info-image {
  width: 40px;
  height: 40px;
  margin: 0 22.3px 6.3px 0;
  object-fit: contain;
}

.game-name-text {
  font-family: Breamcatcher;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #ff5155;
  padding: 7px 25px;
}

.game-score-text {
  font-family: Breamcatcher;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #ff5155;
  padding: 7px 25px;
  text-transform: uppercase;
}

.game-body-section {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.score-side-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.scoreboard-section {
  width: 15rem;
  min-height: 25rem;
  margin: 15px 20px 3px 20px;
  padding: 32px 16.5px 29.2px 33px;
  border-radius: 15px;
  border: solid 3px #ff5155;
}

.stop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  text-transform: uppercase;
  cursor: pointer;
}
.stop-image {
  width: 44px;
  height: 44px;
  margin: 7px 17.3px 6.3px 0;
  object-fit: contain;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}

.game-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15%;
}

.game-word {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-size: 5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.game-text-input {
  text-align: center;
  width: 50%;
}

.score-body-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: center;
  padding-top: 7rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #fff;
}

.score-heading {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.score-count {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}

.high-score-text {
  font-weight: normal;
  font-size: 1.5rem;
  position: relative;
}
.end-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ff5155;
}

.reload-image {
  padding-right: 1.5rem;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.quit-game-container {
  width: 100%;
  min-height: 7rem;
}

.quit-game-button {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Arial;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  padding: 10px;
  padding-top: 7rem;
}

.score-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}

.score-list {
  list-style-type: none;
  padding: 15px;
}

.score-list li {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.score-list li.highest-score {
  color: #ff5155;
}
.score-list li.highest-score::before {
  content: "Personal Best";
  display: block;
  color: #ff5155;
  font-size: 11px;
}
.game-char {
  font-size: 5rem;
}
.white-char {
  color: #fff;
}

.right-char {
  color: #54ba18;
}

.wrong-char {
  color: #445298;
}

.countdown-container {
  position: relative;
  height: 15rem;
  width: 15rem;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.coundown-label {
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.001s linear all;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: #ff5155;
}

.base-timer__svg {
  transform: scaleX(-1);
}
@media (max-width: 575.98px) {
  .game-body-section {
    flex-direction: column-reverse;
  }
  #root {
    height: 150vh;
  }
  .scoreboard-section {
    margin: 15px auto;
    width: 80%;
  }
  .score-list li {
    font-size: 20px;
  }
  .game-text-input {
    width: 80%;
  }
  .quit-game-button {
    margin: 0 auto;
  }
  .start-button {
    width: 300px;
  }
  .home-title {
    white-space:nowrap;
  }
}

/* .selectDiv::after {
  content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #0ebeff;
    position: absolute;
    pointer-events: none;
} */



/* .selectDiv {
  position: relative;
  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}
.selectDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #0ebeff;
  -ms-word-break: normal;
  word-break: normal;
} */